:root {
    --text-color: white;
    --background-color-primary: #88BBDC;
    --background-color-success: #88DCB8;
    --background-color-grey: #a3a3a3;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../public/font/Raleway-VariableFont_wght.ttf') format('truetype'), 
        url('../../public/font/Raleway-Italic-VariableFont_wght.ttf') format('truetype'),
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 transparent;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 2px;
  }

  *::-webkit-scrollbar-track {
    background: transparent !important;
  }

  *::-webkit-scrollbar-thumb {
    background-color: transparent !important;
  }

* {
    box-sizing: border-box;
    animation: all 1s;
    font-family: 'Raleway', sans-serif;
    animation-duration: 1s;
}

.map {
    min-height: 500px;
    max-width: 1000px;
}

.map * {
    color:#000413 !important;
}

select, input {
    max-width: 10rem;
}

button {
    all: unset;
}

table {
    max-width: 600px;
}

table, table td, table th {
    /* color:#000413 !important; */
    color: var(--text-color) !important;
    font-size: 12px;
}

table th.sorting::before, table th.sorting::after {
    color: var(--text-color) !important;
}

*, p, a, svg, .text {
    color: var(--text-color) !important;
}

input, select, textarea, option, optgroup {
    color:#000413 !important;
}

.bg-gradient-darkblue {
    background: linear-gradient(180deg, #000f49 0%, #000413 100%);
}

.drop-box-section {
    border: 1px dashed !important;
    min-width: 510px;
    min-height: 300px;
}

.drop-box-section:hover {
    background-color: #7c7c7c13;
    border: 1px dashed #7c7c7c !important;
    cursor: pointer !important;
}

.drop-box-block {
    min-width: 510px;
    min-height: 300px;
    pointer-events: none;
}

#slider {
    background: linear-gradient(180deg, #000f49 0%, #000f49 50%, #000f4900 100%);
    z-index: 200;
}

#slider > div {
    padding-top: 3.5rem !important;
    padding-bottom: 1.1rem !important;
    min-width: 624px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.slide-pad {
    min-height: 13rem !important;
}

.slide {
    flex-grow: 1;
    flex-direction: column;
}

.slide > div.content {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    height: 100vh !important;
    width: 100% !important;
    align-self: flex-end !important;
    z-index: 50;
}

.slider-item {
    background-color: var(--background-color-grey);
}

.slider-item.active {
    background-color: var(--background-color-primary);
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
    }

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.animate__loopForever {
    animation-iteration-count: infinite !important;
}